* {font-family: 'Lato', sans-serif;}

body {
        margin: 0px;
        padding: 0px;
        border: 0px;
        }

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #e3d6bb;
    text-align: center;
    margin: 0;
    padding: 35px;
    font-weight: normal;
    border-bottom: 2px solid black;
  }
  .index-headers {
    background-color: #dcd0ff;
  }
  
  .index-headers1 {
    text-align: center;
    margin: 0;
    padding: 10px 10px 0px 10px;
  }
  
  .index-headers2 {
    text-align: center;
    padding: 0px 10px 10px 10px;
    border-bottom: 2px solid black;
  }

  .nav {
    text-align: center;
  }
  
  .blog-links {
    padding: 10px;
    text-decoration: underline;
    color: Black;
    font-size: 1.2em;
    font-weight: bolder;
  }

  a.blog-links:hover {
    color: black;
    background-color: #ffffe0;
  }

  #linkedin-logo {
    display: inline;
    width: 40px;
    height: 40px;
    padding: 10px;
}

#github-logo {
    display: inline;
    width: 40px;
    height: 40px;
    padding 10px;
    margin: 10px;
}

.footer{
  height: 50px;
  background-color: #5566;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.content {
  width: 100%;
  min-height: calc(100% - 100px)
}

.content-of-page {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px 150px 20px 150px;
}

.pics {
  text-align: center;
}

#pic-in-snow {
  display: inline-block;
  height: 170px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
}

#profile-pic {
  display: inline-block;
  height: 170px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
}

#pic-at-barrier {
  display: inline-block;
  height: 150px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
}

/*///////////////////////////////////
 BELOW IS TECH BLOG CSS*/

.top-and-middle {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px 150px 20px 150px;
  overflow: auto;
}

.bottom-paragraph {
  margin: 20px 150px 150px 150px;
}

.img-of-class-vs-id {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;

}
.headers-below-main {
  background-color: #cae8dc
}

.sprint-2-h2 {
  text-align: center;
  margin: 0;
  padding: 10px 10px 0px 10px;
}

.sprint-2-h3 {
  text-align: center;
  padding: 0px 10px 10px 10px;
  border-bottom: 2px solid black;
}

.title-of-core-links {
  text-align: center;
}

/* ///////////////////////////////////
//////////////////////////////////////
Core blog below!! */

.index-headers-blog {
  background-color: #d5fcad;
}

.blog-paragraphs {
  text-align: justify;
  text-justify: inter-word;
  margin: 20px 150px 20px 150px;
  overflow: auto;
}

.bottom-paragraph-core {
  margin: 20px 150px 150px 150px;
}

.core-header {
  text-align: center;
}